Results/
LLM4HPC/results
LLM4HPC/benchmark
LLM4HPC/AI_CUDA_Engineer/*
!LLM4HPC/AI_CUDA_Engineer/prompts
LLM4HPC/AI-CUDA-Engineer-Archive/
OpSample/
__pycache__
*.log
*.pdf
nohup.out
checkpoint*
/HPCTransEval
.vscode
/tmp